/*
 * Color variables
 */

//Primary color
$primary-color: #4C5D70;

//Secondary color
$secondary-color: #FD013D;

//Shades of gray
$black: #191D20;
$dark-gray: #383838;
$medium-gray: #787878;
$light-gray: #B8B8B8;
$white: #F8F8F8;

//Background cSolors
$blue: #479AFB;
$orange: #FFAD59;
$red: #FF3868;

//Special colors
$linked-in-color: #007AB6;
