@import "fonts";
@import "colors";
@import "assets";
@import "bootstrap-settings";

@import "pages";

//Main styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: transparent;
    //height: 8000px;
}

.highlight{
    color: $secondary-color;
}