@import "fonts";
@import "colors";
@import "assets";
@import "bootstrap-settings";

@mixin page-container($gap-container, $gap-body, $width: fit-content){
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: $gap-container;
    width: $width;
    height: fit-content;

    header{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        gap: 0.4rem;

        h1, h2{
            flex: none;
            align-self: stretch;
        }

        .greeting{
            order: 0;
            @include user-select-none;
        }
        .title{
            order: 1;
        }
        .sub-title{
            order: 2;
        }
    }
    .body{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $gap-body;

        p{
            flex: none;
            align-self: stretch;

            &:first-of-type{
                order: 0;
            }
            &:last-of-type{
                order: 1;
            }
        }
    }
    footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-self: stretch;
        gap: 1.5rem;
    }
}

/*
 * First page 
 */

.about-text{
    @include page-container(2rem, 1.8rem, 28rem);
}

/*
 * Second page 
 */

.experience-text{
    @include page-container(2rem, 1.8rem);
    header{
        @include user-select-none;
    }
    .body{
        h3{
            @include user-select-none;
        }
        .toolbox-container{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;

            .toolbox-orb{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                width: 3rem;
                height: 3rem;
                padding: 0.5rem;
                background: linear-gradient(90.22deg, rgba(255, 255, 255, 0.8) -3.55%, rgba(255, 255, 255, 0.8) -3.54%, rgba(255, 255, 255, 0.4) 102.29%);
                //box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(0.25rem);
                border-radius: 100%
            }
        }
    }
}

/*
 * Third page 
 */

.contact-text{
    @include page-container(0.4rem, 0rem);
    header{
        @include user-select-none;
    }
    .body{
        p{
            user-select: all;
            padding: 0.2rem 0 0.2rem 0;
        }
        svg{
            margin: 0 0.2rem 0 0;
            color: $secondary-color !important;
        }
    }
}