/*
 * Import of google fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
 * Color variables
 */
/*
 * Import of google fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
 * Color variables
 */
/*
.container{
    border-style: dotted;
    border-color: black;
}
.row{
    border-style: dashed;
    border-color: red;
}
.col-auto,.col,.col-4,.col-8,.col-6,.col-md-6,.col-lg-6
,.col-lg-3{
    border-style: solid;
    border-color: aqua;
}
*/
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.container-body .row {
  height: 100vh;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}
.container-body .dummy {
  height: 40vh;
}
.container-body .last {
  height: 70vh;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

/*
 * General Mixins
 */
/*
 * To highlight text
 */
.highlight {
  color: #FD013D;
}

/*
 * base button style
 */
/*
 * list of buttons
 */
.button-primary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.313rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FD013D;
  border-radius: 0.5rem;
  padding: 0.2rem 1.1rem;
}
.button-primary svg {
  width: 1.15rem;
  height: 1.15rem;
  fill: #F8F8F8;
}
.button-primary:hover {
  background: #479AFB;
}
.button-primary:active {
  box-shadow: inset 0.13rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
}

.button-secondary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.313rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #007AB6;
  border-radius: 0.5rem;
  padding: 0.2rem 0.2rem;
}
.button-secondary svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #F8F8F8;
}
.button-secondary:hover {
  background: #479AFB;
}
.button-secondary:active {
  box-shadow: inset 0.13rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
}

/*
 * bootstrap changed navbar
 */
.navbar-top {
  background-color: transparent !important;
}
@media (min-width: 0px) {
  .navbar-top {
    padding-top: 4vh;
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .navbar-top {
    padding-top: 2.5rem;
    padding-bottom: 0;
  }
}
.navbar-top .container {
  padding: 0.5rem 1.5rem;
  width: 32vw;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background: linear-gradient(90.22deg, rgba(255, 255, 255, 0.8) -3.55%, rgba(255, 255, 255, 0.8) -3.54%, rgba(255, 255, 255, 0.4) 102.29%);
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.1);
  border-radius: 1.3rem;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
}
.navbar-top .container .button-primary {
  padding: 0.1rem 1.1rem;
  border-radius: 5rem;
}
.navbar-top .container .nav-item a {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 4vw !important;
  padding: 0.1rem 0.5rem;
  border-radius: 5rem;
}
@media (max-width: 576px) {
  .navbar-top .container .nav-item a {
    margin: 1rem 0.5rem;
  }
}
.navbar-top .container .nav-item a:active {
  background-color: #479AFB !important;
  box-shadow: inset 0.13rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transition: none;
}
.navbar-top .container .navbar-toggler {
  padding: 0rem 0.5rem;
  margin-right: 1.5rem;
}
.navbar-top .container .navbar-toggler:focus {
  color: #787878;
  box-shadow: 0 0 0 0.15rem;
}

/*
 * Sidebar crumbs
 */
@media (min-width: 0px) {
  .list-crumbs {
    display: none;
  }
}
@media (min-width: 900px) {
  .list-crumbs {
    position: fixed;
    top: 40vh;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-right: 2.5rem;
    gap: 0.625rem;
  }
  .list-crumbs a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
  }
  .list-crumbs a::after {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.5rem;
    background: linear-gradient(135deg, rgba(248, 248, 248, 0.8) 0%, rgba(248, 248, 248, 0.6) 100%);
    box-shadow: inset 0.06rem 0.09rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 100%;
  }
  .list-crumbs .active::after {
    background: linear-gradient(135deg, rgba(56, 56, 56, 0.8) 0%, rgba(56, 56, 56, 0.6) 100%);
  }
  .list-crumbs div {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.28rem;
    background: #B8B8B8;
    border-radius: 100%;
  }
}

/*
.container{
    border-style: dotted;
    border-color: black;
}
.row{
    border-style: dashed;
    border-color: red;
}
.col-auto,.col,.col-4,.col-8,.col-6,.col-md-6,.col-lg-6
,.col-lg-3{
    border-style: solid;
    border-color: aqua;
}
*/
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

.container-body .row {
  height: 100vh;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}
.container-body .dummy {
  height: 40vh;
}
.container-body .last {
  height: 70vh;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

/*
 * First page 
 */
.about-text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 2rem;
  width: 28rem;
  height: -moz-fit-content;
  height: fit-content;
}
.about-text header {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.4rem;
}
.about-text header h1, .about-text header h2 {
  flex: none;
  align-self: stretch;
}
.about-text header .greeting {
  order: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.about-text header .title {
  order: 1;
}
.about-text header .sub-title {
  order: 2;
}
.about-text .body {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
}
.about-text .body p {
  flex: none;
  align-self: stretch;
}
.about-text .body p:first-of-type {
  order: 0;
}
.about-text .body p:last-of-type {
  order: 1;
}
.about-text footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
}

/*
 * Second page 
 */
.experience-text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.experience-text header {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.4rem;
}
.experience-text header h1, .experience-text header h2 {
  flex: none;
  align-self: stretch;
}
.experience-text header .greeting {
  order: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.experience-text header .title {
  order: 1;
}
.experience-text header .sub-title {
  order: 2;
}
.experience-text .body {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
}
.experience-text .body p {
  flex: none;
  align-self: stretch;
}
.experience-text .body p:first-of-type {
  order: 0;
}
.experience-text .body p:last-of-type {
  order: 1;
}
.experience-text footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
}
.experience-text header {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.experience-text .body h3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.experience-text .body .toolbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.experience-text .body .toolbox-container .toolbox-orb {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background: linear-gradient(90.22deg, rgba(255, 255, 255, 0.8) -3.55%, rgba(255, 255, 255, 0.8) -3.54%, rgba(255, 255, 255, 0.4) 102.29%);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  border-radius: 100%;
}

/*
 * Third page 
 */
.contact-text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.4rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-text header {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.4rem;
}
.contact-text header h1, .contact-text header h2 {
  flex: none;
  align-self: stretch;
}
.contact-text header .greeting {
  order: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.contact-text header .title {
  order: 1;
}
.contact-text header .sub-title {
  order: 2;
}
.contact-text .body {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0rem;
}
.contact-text .body p {
  flex: none;
  align-self: stretch;
}
.contact-text .body p:first-of-type {
  order: 0;
}
.contact-text .body p:last-of-type {
  order: 1;
}
.contact-text footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
}
.contact-text header {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.contact-text .body p {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  padding: 0.2rem 0 0.2rem 0;
}
.contact-text .body svg {
  margin: 0 0.2rem 0 0;
  color: #FD013D !important;
}/*# sourceMappingURL=pages.css.map */