@import "fonts";
@import "colors";
@import "mixins";

/*
 * First page 
 */

.about-text{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    gap: 1.8rem;

    width: 28rem;
    height: fit-content;

    .header{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        gap: 0.9rem;

        h1, h3{
            flex: none;
            align-self: stretch;
        }

        .greeting{
            order: 0;
            @include main-param($medium-gray);
            text-transform: uppercase;
        }
        .title{
            order: 1;
            @include second-title;
        }
        .sub-title{
            order: 2;
            @include main-param-it($medium-gray);
        }
    }
    .body{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 1.8rem;

        @include main-param;
        line-height: 1.5rem !important;
        text-align: justify;

        p{
            flex: none;
            align-self: stretch;

            &:first-of-type{
                order: 0;
            }
            &:last-of-type{
                order: 1;
            }
        }
    }
    .footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-self: stretch;

        gap: 1.5rem;
    }
}