@import "fonts";
@import "colors";
@import "assets";
@import "bootstrap-settings";

@mixin page-container($gap-container, $gap-body, $width: fit-content){
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    gap: $gap-container;

    width: $width;
    height: fit-content;

    .header{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        gap: 0.4rem;

        h1, h3{
            flex: none;
            align-self: stretch;
        }

        .greeting{
            order: 0;
            @include main-param($medium-gray);
            text-transform: uppercase;
        }
        .title{
            order: 1;
            @include second-title;
        }
        .sub-title{
            order: 2;
            @include main-param-it($medium-gray);
        }
    }
    .body{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;

        gap: $gap-body;

        @include main-param;
        line-height: 1.5rem !important;
        text-align: justify;

        p{
            flex: none;
            align-self: stretch;

            &:first-of-type{
                order: 0;
            }
            &:last-of-type{
                order: 1;
            }
        }
    }
    .footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: flex-start;
        align-self: stretch;

        gap: 1.5rem;
    }
}

/*
 * First page 
 */

.about-text{
    @include page-container(2rem, 1.8rem, 28rem);
}

/*
 * Second page 
 */

.experience-text{
    @include page-container(2rem, 1.8rem);
}

/*
 * Third page 
 */

.contact-text{
    @include page-container(0.4rem, 0rem);
    svg{
        width: 1.1rem;
        height: fit-content;
        margin: 0 0.5rem 0 0;
    }
}