//base button style
button{
    all: unset;
}

@mixin button-base($background-color, $svg-size){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 0.313rem;
    width: fit-content;
    height: fit-content;

    background: $background-color;
    border-radius: 0.5rem;

    @include second-link($white);
    text-transform: capitalize;
    @include user-select-none;

    svg {
        width: $svg-size;
        height: $svg-size;

        fill: $white;
    }

    &:hover{
        background: $blue;
    }

    &:active{
        box-shadow: inset 0.13rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
    }
}

//list of buttons
.button-primary{
    @include button-base($secondary-color, 1.15rem);
    padding: 0.2rem 1.1rem;
}
.button-secondary{
    @include button-base($linked-in-color, 1.5rem);
    padding: 0.2rem 0.2rem;
}