/*
 * Color variables
 */

//Primary color
$primary-color: #4C5D70;

//Secondary color
$secondary-color: #FD013D;

//Shades of gray
$black: #191D20;
$white: #F8F8F8;

//Blob Colors
$red: #FF3868;
$blue: #479AFB;
$orange: #FFAD59;
