@import "colors";
@import "fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    //margin: 0.625rem;
    background-color: $white;
    height: 8000px;
}

// svg{
//     &.small-svg{
//       &.left-icon{order: 0 !important;}
//       &.right-icon{order: 1 !important;}
//       width: 1.4em !important;
//       height: 1.4em !important;
//     }
//     &.big-svg{
//       &.left-icon{order: 0 !important;}
//       &.right-icon{order: 1 !important;}
//       width: 4em !important;
//       height: 4em !important;
//     }
// }
  

.top-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    padding: 0.6rem 1.5rem;

    margin-left: auto;
    margin-right: auto;

    width: 32vw;
    min-width: fit-content;
    height: fit-content;
    min-height: fit-content;

    box-sizing: border-box;

    background: linear-gradient(90.22deg, rgba(255, 255, 255, 0.8) -3.55%, rgba(255, 255, 255, 0.8) -3.54%, rgba(255, 255, 255, 0.4) 102.29%);
    box-shadow: 0px 6px 30px -5px rgba(0, 0, 0, 0.1);
    border-radius: 1.3rem;
    backdrop-filter: blur(0.28rem);

    li {
        //padding: 0.7rem 1.7rem;
        list-style-type: none;
        a {
            @include second-link($dark-gray);
            text-transform: capitalize;
            text-decoration: none;
        }
    }

    button {
        padding: 0.1rem 1.1rem;
        //margin: 0rem 1.8rem;
    }
}

.crumbs{
    position: -webkit-sticky;
    position: sticky;
    top: 45vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: end;
    z-index: 100;

    height: fit-content;
    min-height: fit-content;

    padding-right: 2.5rem;
    gap: 0.625rem;

    li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        list-style-type: none;

        a {
            @include main-small($light-gray);
            text-transform: capitalize;
            text-decoration: none;

            padding-right: 0.5rem;
        }

        &::after {
            content: '';

            width: 0.8rem;
            height: 0.8rem;

            background: linear-gradient(135deg, rgba(248, 248, 248, 0.8) 0%, rgba(248, 248, 248, 0.6) 100%);
            // selected //background: linear-gradient(135deg, rgba(25, 29, 32, 0.8) 0%, rgba(25, 29, 32, 0.6) 100%);
            box-shadow: inset 0.06rem 0.09rem 0.2rem rgba(0, 0, 0, 0.25);
            border-radius: 100%;
        }
    }

    div{
        content: '';

        width: 0.25rem;
        height: 0.25rem;

        margin-right: 0.25rem;

        background: $light-gray;
        border-radius: 100%;
    }
}

.highlight{
    color: $secondary-color;
}

.about-text{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    z-index: 10;

    gap: 30px;

    width: 28rem;
    height: fit-content;
    
    margin-top: 8rem;
    margin-left: 20vw;

    .header{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        gap: 15px;

        h1, h3{
            flex: none;
            align-self: stretch;
        }

        .greeting{
            order: 0;
            @include main-param($dark-gray);
            text-transform: uppercase;
        }
        .title{
            order: 1;
            @include second-title;
        }
        .sub-title{
            order: 2;
            @include main-param-it($dark-gray);
        }
    }
    .body{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 30px;

        @include main-param;
        line-height: 24px !important;
        text-align: justify;

        p{
            flex: none;
            align-self: stretch;

            &:first-of-type{
                order: 0;
            }
            &:last-of-type{
                order: 1;
            }
        }
    }
    .footer{

    }
}

button{
    all: unset;
}

.button-primary{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 0.2rem 1.1rem;
    gap: 0.313rem;
    width: fit-content;
    height: fit-content;
  

    background: $secondary-color;
    border-radius: 5rem;

    @include second-link($white);
    text-transform: capitalize;

    svg {
        width: 1.15rem;
        height: 1.15rem;

        fill: $white;
    }
}