//Imports
@import "colors";
@import "fonts";

@import "buttons";
@import "navbar";
@import "page-about";

@import "bootstrap-aids";

//General Mixins
@mixin user-select-none{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@mixin user-select-text{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

//Main styles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: $white;
    height: 8000px;
}

.highlight{
    color: $secondary-color;
}